@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

.addCartButton {
  @apply bg-rose-500;
}

.addCartButton:hover {
  @apply bg-rose-700 shadow-lg;
}
.top {
  box-shadow: 0 -5px 5px -5px rgb(142, 142, 142);
}
.example {
  margin-top: 1em;
  display: block;
}
